#title{
  font-family:Amatic SC, cursive; 
  text-align: center;
 } 

#description
{
 font-family:Balsamiq Sans,cursive;
 padding: 20px;
 margin: 0 auto;
 text-align:center;
 color: #025c39;
}
p{
  font-family:Balsamiq Sans,cursive;
  color: #025c39;
}

